$o-library-color-ratio-bg: 15%;
$o-library-bg-color-base: mix(map-get($theme-colors, "primary"),
    $body-bg,
    $o-library-color-ratio-bg);
$o-library-bg-color-base-contrast: color-contrast($o-library-bg-color-base);
$o-library-bg-color-light: mix($o-library-bg-color-base, #e9ecef);
$o-library-bg-color-dark: mix($o-library-bg-color-base, #24363a);
$o-library-color: mix(map-get($theme-colors, "primary"),
    $body-color,
    $o-library-color-ratio-bg);

$o-wlibrary-bg-color-base: mix(map-get($theme-colors, "primary"),
    $body-bg,
    $o-library-color-ratio-bg);
$o-wlibrary-bg-color-base-contrast: color-contrast($o-wlibrary-bg-color-base);

.o_wlibrary_index {

  // Simple colored tags according to assigned background color
  @for $size from 1 through length($o-colors) {
    .o_tag_color_#{$size - 1} {
      @if $size ==1 {
        & {
          background-color: white;
          color: nth($o-colors, $size);
          box-shadow: inset 0 0 0 2px nth($o-colors, $size);
        }

        &::after {
          background-color: nth($o-colors, $size);
        }
      }

      @else {

        &,
        &::after {
          background-color: nth($o-colors, $size);
          color: $white;
        }
      }
    }
  }

  // Complex colored tags according to assigned background color with hover effect
  @for $size from 1 through length($o-colors) {
    .o_tag_color_hovered_#{$size - 1} {
      $background-color: $o-wlibrary-bg-color-base;

      // no color selected
      @if $size ==1 {
        & {
          color: color-contrast($background-color);
          background-color: $background-color;
          box-shadow: inset 0 0 0 1px nth($o-colors, $size);
        }
      }

      @else {
        $background-color: nth($o-colors, $size);

        & {
          color: white;
          background-color: $background-color;
        }
      }

      @at-root a#{&} {
        &:hover {
          background-color: darken($background-color, 20%);
        }
      }
    }
  }
}

.o_library_index_topbar_filters {
  .dropdown-toggle {
    border: $border-width solid mix(map-get($theme-colors, "primary"), map-get($grays, "400"));
    @extend .o_wevent_theme_bg_light;
    @include border-radius($dropdown-border-radius);

    &:hover,
    &:focus {
      border-color: map-get($theme-colors, "primary");
      color: map-get($theme-colors, "primary");
      text-decoration: none;
    }

    &:after {
      margin-left: 1.2em;
    }

    .fa {
      margin-right: 0.4em;
      color: $o-library-color;
    }
  }

  .dropdown-menu {
    margin-top: $navbar-padding-y;
    min-width: 12rem;
    max-height: 250px;
    overflow-y: auto;
    @extend .o_wevent_theme_bg_light;
  }

  .filter-search {
    &:focus {
      box-shadow: none;
    }

    outline: none !important;
    border: none;
    border-bottom: 2px solid #ffffff;
    @extend .o_wevent_theme_bg_light;
  }
}

.hidden {
  display: none !important;
}

.o_wevent_event_searchbar_form>input {
  @extend .o_wevent_theme_bg_light;
}

$blue: #0a4870;
$grey: #f0f0f0;
$orange: #ec992c;

.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.book-item {
  flex: 0 0 calc(14% - 20px);
  max-width: calc(14% - 20px);

  @media (max-width: 1024px) {
    flex: 0 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
  }

  @media (max-width: 768px) {
    flex: 0 0 calc(33.333% - 13.333px);
    max-width: calc(33.333% - 13.333px);
  }

  @media (max-width: 576px) {
    flex: 0 0 calc(70% - 10px);
    max-width: calc(70% - 10px);
  }
}

.book-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  height: 0;
  padding-bottom: 150%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .book-img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .book-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .img-fluid {
      width: 100%;
      height: 100%;
    }
  }

  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $grey;
    transform: translateY(65%);
    transition: 0.3s;
  }

  .card-title {
    color: $blue;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .book-title-short {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .book-title-full {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      width: 50px;
      margin: auto;
      background: $blue;
    }
  }

  .more-info {
    opacity: 0;
    transition: 0.3s;

    .info-box {
      padding: 10px;
      border-radius: 5px;
      font-size: 0.9em;
      font-weight: bold;
    }
  }

  &:hover {
    &::before {
      background: rgba($blue, 0.6);
    }

    .card-body {
      transform: translateY(0);
    }

    .more-info {
      opacity: 1;
    }

    .card-title {
      .book-title-short {
        display: none;
      }

      .book-title-full {
        display: block;
        word-wrap: break-word;
      }
    }
  }
}

@media (hover: none) {
  .book-card {
    .card-body {
      transform: translateY(60%);
    }

    .more-info {
      opacity: 1;
    }

    .card-title {
      .book-title-short {
        display: none;
      }

      .book-title-full {
        display: block;
        word-wrap: break-word;
      }
    }
  }
}